%TMPL:INCLUDE{"view"}%

%TMPL:DEF{"contentheader"}%<div class="tagmetags hideInPrint"> Tags: %TAGME{ tpaction="%URLPARAM{tpaction}%" web="%WEB%" tag="%URLPARAM{tag}%" }% [[%SYSTEMWEB%.TagMeViewAllTags][view all tags]] </div>%TMPL:END%
