%{ This is a default template }%%{ Templates invalid crypt tokens }%
%TMPL:INCLUDE{"oops"}%

%TMPL:DEF{"titleaction"}%%MAKETEXT{"(Invalid Crypt Token)"}% %TMPL:END%
%TMPL:DEF{"webaction"}% *%MAKETEXT{"Attention"}%* %TMPL:END%
%TMPL:DEF{"heading"}%%MAKETEXT{"Invalid Crypt Token"}%%TMPL:END%
%TMPL:DEF{"topicactionbuttons"}% [[%WEB%.%TOPIC%][%MAKETEXT{"OK"}%]] %TMPL:END%

%TMPL:DEF{"message"}%
%INSTANTIATE%
%TMPL:END%
