%{ E-mail template of WatchlistPlugin }%From: %WIKIWEBMASTERNAME% <%WIKIWEBMASTER%>
To: %WATCHLISTTO%
Subject: TWiki Watchlist Digest Notification: Update %DATE%

You are subscribed to get digest notification of topics you watch. Updated topics:

%WATCHCHANGESTEXT%

Review your watchlist and e-mail preferences at:
%SCRIPTURL{view}%/%USERSWEB%/%WATCHLISTUSER%Watchlist

%MAKETEXT{"If you have any questions, please contact [_1]." args="%WIKIWEBMASTER%"}%
